@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'arvo', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-header {
  font-family: 'arvo', sans-serif;
  font-size: 16px;
}
