.container {
  /* border: 1px solid red; */
}

.icon:hover {
  cursor: pointer;
  color: red;
}

.img:hover {
  cursor: pointer;
}

.tag {
  color: blue;
  background-color: red;
}

.tag:hover {
  cursor: pointer;
  color: darkblue;
  background-color: '#444444';
}

.ingredient:nth-child(odd) {
  background-color: #fff;
}

.ingredient:hover {
  background-color: #eee;
  color: black;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.test {
  width: 100%;
}

.recipe-details {
  transition: transform 0.2s;
  cursor: pointer;
}

.recipe-details:hover {
  transform: scale(1.01);
  z-index: 3;
}

.recipe-image img {
  width: 100%;
}
