/* .container {
  border: 1px solid red;
} */

.icon:hover {
  cursor: pointer;
  color: red;
}

/* .img:hover {
  cursor: pointer;
} */

.ingredient:nth-child(odd) {
  background-color: #fff;
}

.ingredient:hover {
  background-color: #eee;
  color: black;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.test {
  width: 100%;
}

.recipe-preview {
  transition: transform 0.2s;
  cursor: pointer;
}

.recipe-preview:hover {
  transform: scale(1.01);
  z-index: 3;
}

.recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-bg {
  background-color: #eee;
}

.text-dark {
  color: 'black';
}

.text-light {
  color: 'white';
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
