// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$openSans: 'Open Sans', sans-serif;
$arvo: 'Arvo', sans-serif;

// set custom colors
$primary-color: #44475a;
$secondary-color: #6272a4;
$dark: #282a36;
$light: #fff;

// override bootstrap theme colors
$theme-colors: (
  'primary': $primary-color,
  'light': $light,
  'dark': $dark,
);

// set font family
$font-family-sans-serif: $arvo;
